---
interface Props {
  title: string;
  description: string;
  imageUrl: string;
  url: string;
  likesCount: number;
  small?: boolean;
}

const { title, description, imageUrl, url, likesCount, small } = Astro.props;
---

<div
  class={`flex items-center gap-12 justify-between w-full w-full hover:bg-neutral-500/10 ${small ? "p-1" : "px-3 py-2"}`}
>
  <!-- Left side: image + text -->
  <a
    href={url}
    class="grow flex items-center gap-2 hover:opacity-90 transition"
  >
    <div
      class={`bg-neutral-900 rounded-lg ${small ? "size-10 min-w-10 min-h-10" : "size-14 min-w-14 min-h-14"} overflow-hidden flex items-center justify-center`}
    >
      {
        imageUrl && (
          <img
            src={imageUrl}
            alt={title}
            class="w-full h-full object-cover rounded-lg"
            loading="lazy"
          />
        )
      }
    </div>

    <div class="grid grow">
      <h3 class="cal-sans text-lg text-white leading-tight">
        {title}
      </h3>
      <p class="text-neutral-500 text-sm line-clamp-2 text-nowrap truncate">
        {
          description.length > 60
            ? description.slice(0, 60) + "..."
            : description
        }
      </p>
    </div>
  </a>

  <!-- Right side: like / upvote -->
  <button
    class="group duration-300 hover:bg-vert-600/20 gap-0 border-2 border-happy-600 hover:border-vert-600 min-w-14 min-h-14 size-14 font-[600] cursor-pointer flex items-center justify-center hover:shadow-lg hover:shadow-vert-600/20"
    type="button"
  >
    <div class="text-center relative leading-none text-white text-sm">
      <div class="flex group-hover:hidden">
        <svg
          class="group-hover:text-vert-600 mx-auto"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <path fill="currentColor" d="m7 14l5-5l5 5z"></path>
        </svg>
      </div>
      <div class="hidden group-hover:flex float-up-fade">
        <svg
          class="group-hover:text-vert-600 mx-auto"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <path fill="currentColor" d="m7 14l5-5l5 5z"></path>
        </svg>
      </div>

      <span class="relative -top-2 block text-[13px]">
        {likesCount}
      </span>
    </div>
  </button>
</div>
